:host {
  display: block;
  overflow-x: auto;

  .era-divider {
    fill: rgba(0, 0, 0, 0.3);
    font-size: 3.2rem;
    z-index: 1;
  }

  .node {
    .prereq {
      fill: none;
      stroke: color(var(--c_civic) l(+ 20%) w(+ 50%) s(+ 10%));
      stroke-width: 4px;
      stroke-dasharray: 12px 8px;
    }

    .name {
      fill: #404040;
    }

    .icon {
      fill: var(--c_civic);
    }

    .cost {
      fill: white;
      font-size: 2rem;
    }

    .backdrop {
      fill: white;
      stroke-width: 2px;
      stroke: rgba(0, 0, 0, 0.1);
    }
  }
}
